body {
    text-align: center;
    font-family: 'al_cinderellaregular' !important;
    color: white !important;
}

.column {
    float: inherit;
    /* width: 20px; */
    /* padding: 5px; */
}

h1, h2, h3, h4, h5, h6 {
    text-shadow: 2px 2px rgb(87, 87, 87);
}

.row {
    display: flex;
}

.profile-img {
    width: 15%;
    height: 20%;
    margin: 10px;
}

.body-img {
    width: 50%;
    height: 50%;
    padding: 5px;
}

.process-img {
    width: 30%;
    height: 30%;
    padding: 5px;
}

.process-img-vertical {
    width: 20%;
    height: 40%;
    padding: 5px;
}

.banner-img {
    width: 100%;
    height: 15%;
}

.hanging-vine {
    height: 170px;
    width: 120px;
    margin: -5px;
}

.simple-vine {
    height: 20%;
    width: 20%;
    margin-bottom: 10px;
}

.yellow-vine {
    height: 20%;
    width: 20%;
}

/* .navbar navbar-default {
    text-align: center;
    color: aqua;
    font-family: 'Lato', sans-serif !important;
    font-weight: bold;
} */

.background {
    /* background-color: rgb(202, 217, 230); */
    background-color: #4A90C4;
}

p {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: rgb(215, 215, 215);
}

h1 {
    font-size: 70px !important;
}

h2 {
    font-size: 55px !important;
}

@font-face {
    font-family: 'al_cinderellaregular';
    src: url('Assets/artsylady_al-cinderella/AL\ Cinderella.ttf');
    src: url('Assets/artsylady_al-cinderella/webfontkit-20191114-114722/al_cinderella-webfont.woff2') format('woff2'),
         url('Assets/artsylady_al-cinderella/webfontkit-20191114-114722/al_cinderella-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.container {
    position: relative;
    text-align: center;
    color: white;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

col {
    text-align: center;
}

/* Can probably delete later */
.process-img-rotated {
    width: 30%;
    height: 30%;
    padding: 5px;
    transform: rotate(90deg);
}