body {
    text-align: center;
}

.column {
    float: inherit;
    /* width: 20px; */
    /* padding: 5px; */
}

.row {
    display: flex;
}

.profile-img {
    width: 100px;
    height: 130px;
    margin: 10px;
    text-align: justify;
}